
@import '../../Global.scss';

.cart {
    text-align: center;

    svg {
        height: 20vh;
        margin: 10%;
    }

    .checkout {
        button {
            background: $color-red;
            color: $color-white;
            border: none;
            padding: 10px 20px;
            margin: 10px;
            border-radius: $border-radius-max;
        }
    }
}