
@import '../../Global.scss';

/*Desktop View*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: $box-shadow;

  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
  }

  .nav-link {
    color: $color-text;
    font-weight: bold;
  }

  .option :hover {
    color: $color-red;
  }

  .mobile-menu {
    display: none;
  }

  // shopping bag
  .bag {
    margin-left: 50px;
    svg {
      vertical-align: middle;
      fill: $color-red;
    }
  }
}

@media (max-width: 648px) {
  /*Mobile View */
  .navigation {
    padding: 10px;

    .nav-options {
      display: flex;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;
    }

    .nav-options.active {
      margin-top: -10px;
      background: $color-red;
      left: 0;
      bottom: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
      padding-left: 0px;
    }

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 10vw;
      padding: 30px 0px;
    }

    .nav-link {
      color: $color-white;
    }

    .mobile-menu {
      display: block;
    }
  }
}
