
@import '../../Global.scss';

.shortcuts {

    .card {
        padding: 20px;
        img {
            width: 100%;
            position: relative;
        }

        .tag {
            margin-top: -15%;

            padding: 10px;
            background-color: $color-red !important;
            color: $color-white !important;
            position: absolute;
        }
    }
}